.Image{
  margin-right: 0.5rem;
  height: 80px;
}

.Table th,
.Table td
{
  vertical-align: middle !important;
}

.Name{
  text-align: left;
}

@media screen and (max-width:767px){
  .Name {
    text-align: center;
  }
}
