.Division{
  margin-top: 1rem;
}

.Division:first-child{
  margin-top:0rem;
}

.DivisionTitle{
  border-radius: 0.5rem;
  margin-top:3rem;
  margin-bottom:1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color:white;
  background-color: #004784;
  padding:0.4rem;
  box-sizing: border-box;
}
