.Wrapper{
  height:2rem;
  position:absolute;
  z-index: 100;
  left:50%;
  opacity:0;
  -webkit-animation-name: left; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: left;
  animation-duration: 3s;
}

.SInfo{
  font-size:2.5rem;
}

@media screen and (max-width:1700px){
  .Wrapper{
    display:block;
  }
}

@-webkit-keyframes left {
  0%   {opacity:1; left:45%; top:17%;}
  25%  {opacity:1; left:50%; top:17%;}
  50%  {opacity:1; left:40%; top:17%;}
  75%  {opacity:1; left:50%; top:17%;}
  100% {left:40%; top:17%;}
}

/* Standard syntax */
@keyframes left {
  0%   {opacity:1; left:45%; top:17%;}
  25%  {opacity:1; left:50%; top:17%;}
  50%  {opacity:1; left:40%; top:17%;}
  75%  {opacity:1; left:50%; top:17%;}
  100% {left:40%; top:17%;}
}
