.TeamLogo{
  box-sizing: border-box;
}

.TeamLogo:hover {
  border: 1px solid #a6a6a6;
}

.IMG{
  box-sizing: border-box;
  height: 110px;
  width: 110px;
  padding:10px;
}

.TeamLogo img {
  /* height:75%;
  width:75%; */
  /* max-height:100px; */
  height:100%;
  width:100%;
  box-sizing: border-box;
}

.TeamName{
  display:block;
}

.TeamAbb{
  display:none;
}

.TeamName,
.TeamAbb{
  margin-top:0.2rem;
}
