.Leagues{
  font-size: 1.5rem;
}


.Leagues div{
  box-sizing: border-box;
  border-bottom: 1px solid #bfbfbf;
  padding:1rem;
  cursor: pointer;
  color: #bfbfbf;
}

.Clicked{
  border-bottom: 2px solid black !important;
  font-weight: bold;
  color: black !important;
}
